{% extends "base_layout.html" %}
{% block title %}S3 Bucket List{% endblock %}

{% block content %}
  <div class="container">
    <div class="col-12-xs">
      <h3>Lista dos Buckets</h3>

      <table class="table table-striped">
        <tr>
          <th>Nome do Bucket</th>
          <th>Data de Criação</th>
        </tr>

      {% for bucket in buckets %}
        <tr>
          <td>{{ bucket['Name'] }}</td>
          <td>{{ bucket['CreationDate'] | datetimeformat }}</td>
        </tr>
      {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}